* {
  all: unset; //Unsets everything so you can style everything from scratch
}

$background: #FBF1C7;
$foreground: #282828;
$gray: #ebddb2;

//Global Styles
.bar {
  background-color: $background;
  color: $foreground;
  border-radius: 15px;
  font-family: Cascadia Mono;
  border: 3px solid $foreground;
  padding: 5px;
}

.workspaces {
  padding-left: 20px
}

.sidestuff {
  padding-right: 20px
}

// Styles on classes (see eww.yuck for more information)

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #6f6f6f;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.metric scale trough highlight {
  all: unset;
  background-color: #000000;
  color: $gray;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #6f6f6f;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.label-ram {
  font-size: large;
}

.workspaces button {
    padding-left: 3px;
    padding-right: 3px;
}

.workspaces button:hover {
    color: $background;
  background-color: #000000;
}

tooltip.background {
    background-color: $background;
    font-size: 18;
    color: #000000;
    border-radius: 9px;
    font-family: Cascadia Mono;
    border: 3px solid $foreground;
}

tooltip label {
    margin: 2px;
}

